In [1]:
import csv

if __name__ == '__main__':

    f = open('2022_Seoul_Temp.csv')
    data = csv.reader(f)
    header = next(data)

    tem_sum = 0
    low_sum = 0
    high_sum = 0
    cnt = 0

    for row in data:
        if row[2] != '' and row[3] != '' and row[4] != '':
            tem_sum += float(row[2])
            low_sum += float(row[3])
            high_sum += float(row[4])
            cnt += 1

    print("*** Annual Temperature Report for Seoul in 2022 ***")
    print(f"Average Temperature: {round(tem_sum/cnt, 2)} Celsius")
    print(f"Average Minimum Temperature: {round(low_sum/cnt, 2)} Celsius")
    print(f"Average Maximum Temperature: {round(high_sum/cnt, 2)} Celsius")


    f.close()

*** Annual Temperature Report for Seoul in 2022 ***
Average Temperature: 13.26 Celsius
Average Minimum Temperature: 9.21 Celsius
Average Maximum Temperature: 18.05 Celsius